body {
    margin-top: 1rem;
}

image {
    max-width: 100%;
}

summary h2 {
    display: inline;
    font-size: 1em;
}

table {
    width: 100%;
}

th {
    display: none;
}

td {
    border-bottom: 1px dashed;
}

tr td:nth-child(2n) {
    text-align: right;
}