<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="This article is about: {{ description }}"
    />
    <link rel="stylesheet" href="/bundle.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    <a href="https://blog.davidmoll.net">Home</a>
    <a href="https://blog.davidmoll.net/archive">Archive</a>
    <a href="https://blog.davidmoll.net/about">About me</a>

    <h1>{{ title }}</h1>
    <i>Published by {{ author }} on {{ date | dateDisplay }}</i>

    <br />
    This article has following tags: {% for tag in tags %}
    <p class="pill">{{ tag }}</p>
    {% endfor %}

    <p>This article is about: {{ description }}</p>
    <hr />
    {{ content | safe }}
  </body>
</html>
