---
layout: generalLayout.njk
---
<body>
  <header>
    <a href="https://blog.davidmoll.net">Home</a>
    <a href="https://blog.davidmoll.net/archive">Archive</a>
    <a href="https://blog.davidmoll.net/about-me">About me</a>

    <h1>{{ title }}</h1>
    <i>Published by {{ author }} on {{ date | dateDisplay }}</i>
    <p>This article has following tags: {{ tags | joinedTags }}</p>
    <p>This article is about: {{ description }}</p>
    <hr />
  </header>
  <main>{{ content | safe }}</main>
  <hr />
</body>
