body {
    margin-top: 1rem;
}

img {
    max-width: 100%;
}

table {
    width: 100%;
  }

th {
    display: none;
}

td {
    border-bottom: 1px dashed;
}

tr td:nth-child(2n) {
    text-align: right;
}