body {
	margin-top: 1rem;
}

image {
	max-width: 100%;
}

summary h2 {
	display: inline;
	font-size: 1em;
}

table {
	width: 100%;
}

th {
	display: none;
}

td {
	border-bottom: 1px dashed;
}

tr td:nth-child(2n) {
	text-align: right;
}

@media print {
	body {
		background-color: #ffffff;
		background-image: none;
		color: #000000;
		margin: 0;
	}

	details,
	footer,
	.screenOnly,
	.toc > *,
	h1 > a,
	h2 > a,
	h3 > a {
		display: none;
	}

	a::after {
		content: ' (' attr(href) ')';
	}

	h1 > a {
		display: none;
	}

	table,
	img,
	svg,
	code,
	pre,
	.avoidBreakInside {
		break-inside: avoid;
	}

	h1 {
		font-size: 28px;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 20px;
	}

	h4 {
		font-size: 18px;
	}

	h5 {
		font-size: 16px;
	}

	h6 {
		font-size: 14px;
	}

	p {
		font-size: 16px;
	}

	.epg__box {
		box-shadow: inset 0 0 0 1000px #929292;
	}

	.epg__hasPost {
		box-shadow: inset 0 0 0 1000px #181818;
	}

	.breakBefore {
		page-break-before: always;
	}

	body::after {
		content: '© David Moll (blog.davidmoll.net)\A Contact: david.leander.moll@gmail.com';
		display: block;
		text-align: center;
		white-space: pre;
	}
}
