---
layout: generalLayout.njk
---
  <body>
    <header>
      <h1 id="titleName">David Moll's blog</h1>
      <i> You can't downvote me here</i>
      <p>There are {{collections.posts.length }} articles on this blog</p>
      <a href="https://blog.davidmoll.net">Home</a>
      <a href="https://blog.davidmoll.net/archive">Archive</a>
      <a href="https://blog.davidmoll.net/about-me">About me</a>
    </header>
    <main>{{ content | safe }}</main>
    <footer>
    <a href="https://github.com/Akashic101/blog/blob/main/{{ page.inputPath }}"
      >Edit this page on GitHub</a
    >
    <p>&copy; {{2023 | currentYear}} David Moll. All rights reserved.</p>
    <p>
      <a href="/feed.xml" class="rss-button">Subscribe to RSS</a> |
      <a href="https://www.github.com/akashic101/blog">Source Code</a> | ⚡<a
        href="https://www.11ty.dev/"
        >11ty</a
      >
    </p>
  </footer>
  </body>
</html>
