<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="My personal blog powered by 11ty where I talk about whatever I want"
    />
    <link rel="stylesheet" href="/bundle.css" />
    <title>{{ title }}</title>
  </head>
  <body>
  <h1>David Moll's blog</h1>
  <i> You can't downvote me here</i>
  <p>There are {{collections.posts.length }} articles on this blog</p>
  <a href="https://blog.davidmoll.net">Home</a>
  <a href="https://blog.davidmoll.net/archive">Archive</a>
  <a href="https://blog.davidmoll.net/about">About me</a>
    {{ content | safe }}
  </body>
</html>
