---
layout: generalLayout.njk
---
  <body>
    <header class="index">
    <div class="left_div">
      <h1 id="titleName">David Moll's blog</h1>
      <i> You can't downvote me here</i>
      </div>
      <div class="right_div">
      <a href="/">Home</a>
      <a href="/archive">Archive</a>
      <a href="/about-me">About me</a>
      <a href="/tags">Tags</a>
      <a href="/stats">Stats</a>
      </div>
    </header>
    <main>{{ content | safe }}</main>
  </body>
</html>
