---
layout: base.njk
title: About Me
permalink: /about-me/index.html
author: David Moll
date: 2023-12-22
tags:
  - About me
  - posts
description: Who I am and what I do
folderName: 2023-12-22-about-me
socialMediaPreviewImage: https://blog.davidmoll.net/assets/images/2023-12-22-about-me/cover.png
socialMediaPreviewImageAlt: A ragdoll with glasses sitting in front of a laptop
---

<h1>{{title}}</h1>

<img
  src="{{ socialMediaPreviewImage }}"
  alt="{{ socialMediaPreviewImageAlt }}"
  loading="lazy"
/>
<br>
<a href="https://github.com/akashic101/"
  >{% fortawesomeBrand 'github', 'svg_size' %}</a
>
<a href="https://www.linkedin.com/in/david-moll-3371511a1/"
  >{% fortawesomeBrand 'linkedin', 'svg_size' %}</a
>
<a href="mailto:david.leander.moll@gmail.com"
  >{% fortawesomeRegular 'envelope', 'svg_size' %}</a
>

<p>
  I'm David Moll, a frontend-engineer UI/UX and content-creator working for
  <a href="https://xapling.de">xapling GmbH</a> in Germany.
</p>

<p>
  I like to talk about loads of things, for example FOSS, right-to-repair,
  self-hosting, and my cats.
</p>

<p>
  I've worked for more than two years as a frontend-engineer UI/UX with tech
  stacks such as ReactJS, Angular, JavaScript, and TypeScript. Outside of work,
  I enjoy sim-racing, binging shows, traveling, and biking.
</p>

<h2>Skills</h2>

{% fortawesomeBrand 'react', 'svg_size' %} {% fortawesomeBrand 'angular',
'svg_size' %} {% fortawesomeBrand 'js', 'svg_size' %} {% fortawesomeBrand 'ts',
'svg_size' %} {% fortawesomeBrand 'git', 'svg_size' %} {% fortawesomeBrand
'linux', 'svg_size' %}<br>
<a href="https://github.com/akashic101/">and more...</a>
