@font-face {
	font-family: Atkinson;
	src: url("assets/fonts/Atkinson-Hyperlegible-Regular-102a.woff2") format('woff2');
	font-display: swap;
}

body {
	font-family: 'Atkinson';
	width: 80%;
	padding-top: 2rem;
	margin: 0 auto;
}

.flex-container {
	display: flex;
	justify-content: flex-start;
	gap: 1.5rem;
	max-width: 800px;
	margin-bottom: 1rem;
}

.main-title {
	margin: 0;
	font-size: 2.25rem;
	font-weight: bold;
}

.date {
	margin: 0;
	font-size: 0.875rem;
}

.description {
	font-size: 1.125rem;
}

.read-more-link:hover {
	text-decoration: underline;
}