---
permalink: /404/
eleventyExcludeFromCollections: true
layout: base.njk
---
<div>
<h1>oops...</h1>

<p>I think you took a wrong turn my friend. You seem to have found a secret image of my cats Luna and Tia</p>

<img src="https://i.imgur.com/LOV4ng8.jpg" alt="My cats Luna and Tia" width="200">
</div>