---
layout: base.njk
title: David Moll's blog
author: David Moll
date: 2023-12-21
description: My own small blog where I write about whatever is on my mind
eleventyExcludeFromCollections: true
socialMediaPreviewImage: https://blog.davidmoll.net/assets/images/2023-12-22-about-me/cover.png
socialMediaPreviewImageAlt: A cat with glasses sitting in front of a laptop
---
<hr>

<h2>Latest articles</h2> 
{% for post in collections.lastThreeArticles %}

<div class="flex-container">
    <div class="image-container">
        <img src="../../assets/images/{{post.data.folderName}}/cover.png" alt="{{ post.data.description }}" class="image" width="200" height="200">
    </div>
    <div class="text-container">
        <h1 class="main-title">{{ post.data.title }}</h1>
        <p class="date">{{post.date | dateDisplay}}</p>
        <p class="description">{{post.data.description}}</p>
        <a class="read-more-link" href="{{ post.url }}">Read the article</a>
    </div>
</div>
{% endfor %}
<hr>
<p>See all posts in <a href="/archive">the archive</a></p>
<hr>
<div class="breakBefore">
<h2>Random article</h2>

<div class="flex-container">
    <div class="image-container">
        <img src="../../assets/images/{{collections.randomArticle.data.folderName}}/cover.png" alt="{{ collections.randomArticle.data.description }}" class="image" width="200" height="200">
    </div>
    <div class="text-container">
        <h1 class="main-title">{{ collections.randomArticle.data.title }}</h1>
        <p class="date">{{ collections.randomArticle.data.date | dateDisplay }}</p>
        <p class="description">{{ collections.randomArticle.data.description }}</p>
        <a class="read-more-link" href="{{collections.randomArticle.url}}">Read the article</a>
    </div>
</div>
<hr>
</div>
</div>
<h2>Net Nuggets</h2> 
{% for post in collections['net nuggets'] %}
<div class="flex-container">
    <div class="text-container">
        <h1 class="main-title">{{ post.data.title }}</h1>
        <p class="date">{{post.date | dateDisplay}}</p>
        <p class="description">{{post.data.description}}</p>
        <a class="read-more-link" href="{{ post.url }}">Read the article</a>
    </div>
</div>
{% endfor %}
</div>
<link href="https://github.com/akashic101" rel="me">