---
permalink: /stats/
layout: base.njk
eleventyExcludeFromCollections: true
---

{% postGraph collections.posts, { "highlightColor": "#7eb6c9" } %}

<h1>Stats</h1>

<table>
  <thead>
    <tr>
      <th>Thing</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>First post</td>
      <td>{{ collections.postStats.firstPostDate | dateDisplay }}</td>
    </tr>
    <tr>
      <td>Last post</td>
      <td>{{ collections.postStats.lastPostDate | dateDisplay }}</td>
    </tr>
    <tr>
      <td>Post count</td>
      <td>{{ collections.postStats.postCount }}</td>
    </tr>
    <tr>
      <td>Tag count</td>
      <td>
        {{ collections.posts | getAllTags | length }}
        <a href="/tags/">(View all)</a>
      </td>
    </tr>
    <tr>
      <td>Average days between posts</td>
      <td>{{ collections.postStats.avgDays }}</td>
    </tr>
    <tr>
      <td>Average characters per post</td>
      <td>{{ collections.postStats.avgCharacterCount }}</td>
    </tr>
    <tr>
      <td>Average words per post</td>
      <td>{{ collections.postStats.avgWordCount}}</td>
    </tr>
    <tr>
      <td>Total build-size</td>
      <td>TOTALBUILDSIZE KB</td>
    </tr>
    {%- if collections.postStats.avgCodeBlockCount > 0 -%}
    <tr>
      <td>Average code blocks per post</td>
      <td>{{ collections.postStats.avgCodeBlockCount }}</td>
    </tr>
    {% endif %}
    <tr>
      <td>Last build time</td>
      <td>{{ buildInfo.time.formatted }}</td>
    </tr>
    <tr>
      <td>Version</td>
      <td>{{ pkg.version }}</td>
    </tr>
    <tr>
      <td>Uptime (day)</td>
      <td>{{ uptime.day.formatted }}%</td>
    </tr>
    <tr>
      <td>Uptime (month)</td>
      <td>{{ uptime.month.formatted }}%</td>
    </tr>
  </tbody>
</table>

<i>Uptime is calculated using <a href="https://github.com/louislam/uptime-kuma">Uptime-Kuma</a> and gets recalculated once per day at midnight<i>

<h1>Speedlify scores</h1>

<speedlify-score speedlify-url="https://www.11ty.dev/speedlify" hash="4d33473e" score weight rank rank-change></speedlify-score>
