---
permalink: /stats.html
layout: statsLayout.njk
eleventyExcludeFromCollections: true
---

<h1>Stats</h1>

<table>
  <thead>
    <tr>
      <th>Thing</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>First post</td>
      <td>{{ collections.postStats.firstPostDate | dateDisplay }}</td>
    </tr>
    <tr>
      <td>Last post</td>
      <td>{{ collections.postStats.lastPostDate | dateDisplay }}</td>
    </tr>
    <tr>
      <td>Post count</td>
      <td>{{ collections.postStats.postCount }}</td>
    </tr>
    <tr>
      <td>Tag count</td>
      <td>
        {{ collections.posts | getAllTags | length }}
        <a href="https://blog.davidmoll.net/tags/">(View all)</a>
      </td>
    </tr>
    <tr>
      <td>Average days between posts</td>
      <td>{{ collections.postStats.avgDays }}</td>
    </tr>
    <tr>
      <td>Average characters per post</td>
      <td>{{ collections.postStats.avgCharacterCount }}</td>
    </tr>
    <tr>
      <td>Average words per post</td>
      <td>{{ collections.postStats.avgWordCount}}</td>
    </tr>
    <tr>
      <td>Total build-size</td>
      <td>TOTALBUILDSIZE KB</td>
    </tr>
    {%- if collections.postStats.avgCodeBlockCount > 0 -%}
    <tr>
      <td>Average code blocks per post</td>
      <td>{{ collections.postStats.avgCodeBlockCount }}</td>
    </tr>
    {% endif %}
    <tr>
      <td>Last build time</td>
      <td>{{ buildInfo.time.formatted }}</td>
    </tr>
    <tr>
      <td>Version</td>
      <td>{{ pkg.version }}</td>
    </tr>
  </tbody>
</table>

<h1>Lighthouse scores</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    {% for key, result in lighthouse.categories %}
    <tr>
      <td>{{ result.title }}</td>
      <td>{{ result.score}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
