---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - lastThreeArticles
    - randomArticle
permalink: /tags/{{ tag }}/
layout: base.njk
eleventyExcludeFromCollections: true
---
<h1>Tagged “{{ tag }}”</h1>
{% set taglist = collections[ tag ] %}
{% for post in taglist | reverse %}
<div class="flex-container">
    <div class="image-container">
        <img src="../../assets/images/{{ post.data.folderName }}/cover.png" alt="{{ post.data.description }}" class="image" width="200" height="200" loading="lazy">
    </div>
    <div class="text-container">
        <h1 class="main-title">{{ post.data.title }}</h1>
        <p class="date">{{ post.date | dateDisplay }}</p>
        <p class="description">{{ post.data.description }}</p>
        <a class="read-more-link" href="{{ post.url }}">Read the article</a>
    </div>
</div>
{% endfor %}
</ol>